html,
body,
#root {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: lightblue;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

.interface {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  font-family: 'Bebas Neue', cursive;
}

.time {
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 5rem;
  left: 0;
  width: 10rem;
  color: white;
  background-color: black;
  opacity: 0.5;
  font-size: 6vh;
  padding: 8px;
  text-align: left;
}

.menu {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10%;
  left: 36%;
  width: 25%;
  color: white;
  font-size: 8vh;
  white-space: pre-line;
  background-color: black;
  opacity: 0.5;
  padding: 8px;
  pointer-events: auto;
  cursor: pointer;
}

.game-stats {
  position: absolute;
  bottom: 0;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 2rem);
  gap: 1rem;

  font-family: 'Bebas Neue', cursive;
}

.game-stats span {
  font-size: 2rem;
}