@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

html,
body,
#root {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: lightblue;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

.interface {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  font-family: 'Krona One', sans-serif;
}

.time {
  position: absolute;
  left: -1px;
  padding: 1rem;
  border-radius: 0 3rem 3rem 0;
  color: white;
  font-size: 3rem;
  text-align: left;
  width: 4ch;
  background: rgba(121, 121, 121, 0.138);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.6px);
  border: 1px solid rgba(254, 254, 254, 0.4);
  font-family: 'Krona One', sans-serif;
}

.bestTime {
  white-space: nowrap;
  bottom: 14.5rem;
}

.elapsedTime {
  bottom: 8rem;
}

.menu {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10%;
  left: calc(50% - 12.5rem);
  width: 25rem;
  font-size: 3rem;
  color: white;
  padding-block: 2rem;
  background-color: white;
  pointer-events: auto;
  cursor: pointer;
  outline: 3px solid rgba(91, 108, 201, 0);
  transition: outline 0.4s, outline-offset 0.4s;
  /* Glassmorphism  */
  border-radius: 3rem 20px;
  background: rgba(121, 121, 121, 0.138);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.6px);
  border: 1px solid rgba(254, 254, 254, 0.4);
}

.menu:hover {
  outline: 3px solid rgba(151, 166, 255);
  animation: 0.2s gradientGlow linear forwards;
  background: linear-gradient(
    45deg,
    rgba(121, 121, 121, 0.138),
    rgba(255, 255, 255, 0.3),
    rgba(121, 121, 121, 0.138)
  );
  background-size: 200% 100%;
  outline-offset: 0.5rem;
}

.game-stats span {
  font-size: 2rem;
}

@keyframes gradientGlow {
  0% {
    background-position-x: left;
  }

  100% {
    background-position-x: right;
  }
}
